*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

li, a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: #00c2cb;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color:#076166;
}

video{
    height: auto;
    width: 100%;
}

.contenedor-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

img{
    border-radius: 50%;
    height: 300px;
    padding: 20px;
}

.contenedor-texto{
    display: flex;
    padding: 30px;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedor-texto p{
    text-align: justify;
}

.btn-conoce{
    background-color: #00c2cb;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    width: 300px;
    height: 50px;
}
.contenedor-formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
}